/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/oh-package-lock.json5
# 忽略源码中的测试和模拟目录
src/mock/
src/ohosTest/
src/test/